@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #000000;
  overflow-x: hidden;
}

@font-face {
  font-family: "Livvic";
  src: url("fonts/Livvic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
  font-family: "Livvic", "OpenSans";
}
